.commentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentsContainer textarea {
  min-width: 320px;
  max-width: 560px;
  margin: 0 auto;
  resize: none;
  margin-top: 1rem;
}